_build/
build/
*.o
*.a
*.dylib
*.so
.DS_Store
tests/test_config.json
.test/
__pycache__/

# iOS / Xcode
clients/ios/Pods/
clients/ios/*.xcworkspace/
clients/ios/DeveloperSettings.xcconfig
xcuserdata/
*.xcuserstate
*.ptyr
client*.txt
device*.txt
clients/ios/*xcodeproj
clients/ios/build*
